
.bounceInUp,.bounceInRight,.bounceInLeft,.bounceInDown,.fadeIn,.lightSpeedIn,.fadeOut,.bounceIn,.fadeInDown,.fadeInUp,.flipInX{
	-webkit-animation-duration:1s;
	        animation-duration:1s;
}

.opacity-twinkle{
	-webkit-animation:opacity-twinkle 2s 0.1s infinite linear normal forwards;
	        animation:opacity-twinkle 2s 0.1s infinite linear normal forwards;
}
@-webkit-keyframes opacity-twinkle{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.3;
	}
	100%{
		opacity: 1;
	}
}
@keyframes opacity-twinkle{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.3;
	}
	100%{
		opacity: 1;
	}
}
.show-hide{
	-webkit-animation:show-hide 2s 0.3s 1 ease-in normal backwards;
	        animation:show-hide 2s 0.3s 1 ease-in normal backwards;
}
@-webkit-keyframes show-hide{
	0%{
		opacity: 0;
		-webkit-transform:translate3d(0,0,0);
	}
	20%{
		opacity: 1;
		-webkit-transform:translate3d(0,0,0);
	}
	100%{
		opacity: 0;
		-webkit-transform:translate3d(0,-320px,100px);
	}
}
@keyframes show-hide{
	0%{
		opacity: 0;
		transform:translate3d(0,0,0);
	}
	20%{
		opacity: 1;
		transform:translate3d(0,0,0);
	}
	100%{
		opacity: 0;
		transform:translate3d(0,-320px,100px);
	}
}

.p4-btn {
	bottom: 20px;
	width: 100px;
	margin: 0px -50px;
	left: 50%;
}

#upload_btn_wrapper{
	position: absolute;
	width: 192px;
	height: 154px;
	top: 110px;
	/*background: rgba(255,255,255,.5);*/
	left: 50%;
	margin: 0px -96px;
	overflow: hidden;
}
.upload-pic{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 300px;
	margin: 0px -150px;
	text-align: center;
	left: 50%;
}
#upload_btn{
	position: absolute;
	width: 100%;
	height: 100%;
}
.input-area{
	position: absolute;
	top: 305px;
	left: 50%;
	margin: 0px -140px;
	width: 280px;
	height: 60px;

	font-family: "SimSun" "STSong";
	font-size: 20px;
	color: white;
	letter-spacing: 1px;
	/*background: rgba(255,255,255,.8);*/
}
.input-area span{
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 32px;
	line-height: 32px;
}
.input-area span input{
	display: inline-block;
	width: 76px;
	height: 32px;
	border: none;
	background: transparent;

	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 32px;
	letter-spacing: 1px;
	font-family: "SimSun" "STSong";
}
.input-area span input:focus{
	outline: none;
}
.warn-mask{
	position: absolute;
	background: rgba(255,255,255,.6);
	z-index: 9;
	display: none;

}
.warn-mask .loading{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px;
	width: 60px;
	height: 60px;
}
