
.bounceInUp,.bounceInRight,.bounceInLeft,.bounceInDown,.fadeIn,.lightSpeedIn,.fadeOut,.bounceIn,.fadeInDown,.fadeInUp,.flipInX{
	-webkit-animation-duration:1s;
	        animation-duration:1s;
}

.opacity-twinkle{
	-webkit-animation:opacity-twinkle 2s 0.1s infinite linear normal forwards;
	        animation:opacity-twinkle 2s 0.1s infinite linear normal forwards;
}
@-webkit-keyframes opacity-twinkle{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.3;
	}
	100%{
		opacity: 1;
	}
}
@keyframes opacity-twinkle{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.3;
	}
	100%{
		opacity: 1;
	}
}
.show-hide{
	-webkit-animation:show-hide 2s 0.3s 1 ease-in normal backwards;
	        animation:show-hide 2s 0.3s 1 ease-in normal backwards;
}
@-webkit-keyframes show-hide{
	0%{
		opacity: 0;
		-webkit-transform:translate3d(0,0,0);
	}
	20%{
		opacity: 1;
		-webkit-transform:translate3d(0,0,0);
	}
	100%{
		opacity: 0;
		-webkit-transform:translate3d(0,-320px,100px);
	}
}
@keyframes show-hide{
	0%{
		opacity: 0;
		transform:translate3d(0,0,0);
	}
	20%{
		opacity: 1;
		transform:translate3d(0,0,0);
	}
	100%{
		opacity: 0;
		transform:translate3d(0,-320px,100px);
	}
}
#icons_container{
	position: absolute;
	width: 250px;
	height: 500px;
	left: 50%;
	top: 50%;
	margin: -250px -125px;
}
.icon-container{
	position: relative;
	float:left;
	display: block;
	width:50px;
	height: 50px;
}

.p1-btn01{
	width: 80px;
	top: 10px;
	right: 10px;
}

.p1-btn02{
	width: 120px;
	bottom: 55px;
	left: 50%;
	margin: 0px -60px;
}
.p1-tips-slogan{
	width: 320px;
	top: 60px;
	left: 50%;
	margin: 0px -160px;
}
img[class^="p1-tip-btn0"]{
	width: 80px;
	left: 50%;
	margin: 0px -40px;
}
.p1-tip-btn01{
	top: 170px;
}
.p1-tip-btn02{
	top: 210px;
}
.p1-tip-btn03{
	top: 250px;
}
.p1-close{
	position: absolute;
	top: 65px;
	left: 50%;
	margin: 0px 95px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
}
.tips, .tips-bg{
	display: none;
	z-index: 10;
}



.p2-btn02{
	position: absolute;
	width: 140px;
	height: 44px;
	bottom: 15px;
	left: 50%;
	margin: 0px -70px;
}
.p2-letter01{
	width: 100%;
	bottom: 0px;
	left: 0px;
}
.p2-letter02{
	width: 100%;
	bottom: 180px;
	left: 0px;
}

.input-container{
	width: 135px;
	position: absolute;
	top: 167px;
	left: 126px;
	height: 220px;
	/*overflow: hidden;*/
	z-index: 9;
}
.input-container .input{
	width: 100%;
	height: 29px;
	margin: 5.6px 0px 0px;
	/*display: block;*/
	border: 1px solid transparent;
	background: transparent;
	overflow: hidden;
}
.input-container .input:focus{
	outline: none;
}

.warn{
	display: none;
	z-index: 99;
}
.warn-box{
	border-radius: 10px;
	width: 260px;
	padding: 40px 0px;
	text-align: center;
	font-size: 14px;
	font-family: "heiti" "yahei";
	background: white;
	position: absolute;
	top: 150px;
	left: 50%;
	margin: 0px -130px;
}

.p3-btn{
	bottom: 20px;
	width: 120px;
	margin: 0px -60px;
	left: 50%;
}




#share{
	display: none;
}

